.run-list {
  margin: 0;
  padding: 0;
}

.run-tile {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  display: flex;
  list-style-type: none;
  padding: 8px 16px;

  &__date {
    line-height: normal;
    width: 72px;
  }
}

.run-info {
  color: $dark-text-color;
  margin: 0;
  padding: 0;

  &__item {
    list-style-type: none;
  }
}

.arrow-container {
  align-items: center;
  color: $tertiaryColor;
  display: flex;
  justify-content: center;
  margin-left: auto;
  width: 56px;
}
