$primaryColor: #28B0CE;
$primary-color: $primaryColor;
$secondaryColor: #47E8B1;
$secondary-color: $secondaryColor;
$tertiaryColor: #A17BF9;
$light-text-color: white;
$dark-text-color: black;
$header-box-shadow: 0 1px 3px 0 rgba(27,36,50,.15);

@import 'settings';
@import "foundation-sites/foundation";
@include foundation-everything;
@import 'normalize'; // TODO switch to foundation normalize

* {
  font-family: 'Roboto', sans-serif;
}

.app-header {
  background: white;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.body-content {
  margin-top: 72px;
}

.nav-container {
  box-shadow: $header-box-shadow;
}

.nav-list {
  align-items: center;
  display: flex;
  height: 72px;
  justify-content: flex-end;
  margin: 0;
  padding: 0;

  &__item {
    list-style-type: none;
    margin: 10px;
  }
}

.app-title {
  font-size: 20px;
  margin: 0 5px;
}

.logo {
  background: linear-gradient(45deg, $primaryColor 0%, $tertiaryColor 100%);
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  width: 20px;
}

.brand {
  align-items: center;
  display: flex;
  margin-right: auto;
  vertical-align: center;
}

.sign-in-button {
  border: 2px solid $secondaryColor;
  border-radius: 3px;
  color: $secondaryColor;
  padding: 5px;
}

.new-run-button {
  background: $secondaryColor;
  border-radius: 3px;
  color: $light-text-color;
  padding: 5px;
}

a {
  cursor: pointer;
  text-decoration: none;
}


// TODO: refactor out
@media only screen
  and (min-device-width: 768px) {
  .my-form {
    max-width: 400px;
    margin: auto;
  }
}

.run-log-link {
  background: $primaryColor;
  border-radius: 10px;
  color: $light-text-color;
  margin: auto;
  margin-top: 150px;
  padding: 10px;
  text-align: center;
  width: 200px;
}

@import 'components/create-account-form';
@import 'components/date-tile';
@import 'log';
@import 'login';
@import 'new-run';
