<ul class="run-list">
  <h3 class="log-header">Past Runs</h3>
  {{#each model.runs as |run|}}
    <li class="run-tile">
      {{date-tile
        date=run.date
        class="run-tile__date"}}
        <ul class="run-info">
          <li class="run-info__item">{{run.distance}} km</li>
          <li class="run-info__item">time: {{run.time}} pace: {{run.pace}}</li>
        </ul>
    </li>
  {{/each}}
</ul>
