<header class="app-header">
  <nav class="nav-container">
    <ul class="nav-list">
      <li class="nav-list__item brand">
        <span class="logo"></span>
        <span class="app-title">Run Log</span>
        </li>
        {{#link-to 'new-run'}}
          <li class="nav-list__item new-run-button">
            New Run+
          </li>
        {{/link-to}}
      <li class="nav-list__item sign-in-button">
        Sign In
      </li>
    </ul>
  </nav>
</header>

<section class="body-content">
  {{outlet}}
</section>
