<form data-abide data-validate-on-blur="true" novalidate>
  <div class="row column log-in">
    <h2 class="text-center">Sign Into Your Account</h2>

    <label for="login-email">
      Email
      <input id="login-email" type="email" name="email" placeholder="Enter your email" data-validator="multiValidateText" pattern="email" required>
      <span class="form-error">{{emailValidationMessage}}</span>
    </label>

    <label for="login-password">
      Password
      <input id="login-password" type="password" name="password" placeholder="Enter your password" data-validator="multiValidateText" required>
      <span class="form-error">{{passwordValidationMessage}}</span>
    </label>
    <div class="text-center"><a href="#">Forgot your password?</a></div>
    <button type="submit" class="button expanded" value="Sign In">Sign In</button>
    <div class="text-center">or</div>
    <div class="text-center">{{#link-to 'create-account'}}Create an Account{{/link-to}}</div>
  </div>
</form>
