<form>
  <div class="row column log-in">
    <h2 class="text-center">Sign Into Your Account</h2>

    <label for="email">
      Email
      <input id="email" type="text" name="email" placeholder="Enter your email" required>
      <span class="form-error">This field is required.</span>
    </label>

    <label for="password">
      Password
      <input id="password" type="password" name="password" placeholder="Enter your password" required>
      <span class="form-error">This field is required.</span>
    </label>

  {{!--  <div class="button expanded">Sign In</div> --}}
    <button type="submit" class="button expanded" value="Sign In">Sign In</button>
    <div class="text-center"><a href="#">Forgot your password?</a></div>
  </div>
</form>
